# Entorno virtual
.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de entorno
.env

# Índices de FAISS
faiss_index_*/

# Archivos de sistema operativo
.DS_Store
Thumbs.db